@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body{
    background: linear-gradient( #e0c8a9, #ffffff,#e0c8a9);
}
.navbar{
    background-color: black;
    color: white;
}


.navbar ul {
    display: flex;
    padding: 1rem;
    list-style: none;
    margin: 0;
    justify-content: space-between;
}


.fotos{
    height: 300px;
    width: 300px;
    margin-left: 10px;
    border-radius: 10px;
    text-align: center;
}

h1{
    text-align: center;
    margin-top: 20px;
    font-size: 80px;
    font-weight: 500;
}

.text p1{
    align-items: center;
    font-weight: 200;
}

.logo{
    height: 500px;
    width: 1000px;
    display: flex;

}
.logo2 {
    display: flex;
    justify-content: center;
}


.char {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.char2 {
    padding: 10px;
}

.char2 h5{
    text-align: center;
    font-size: 30px;
}

.para{
    text-align: center;
    font-size: 30px;
}

.grow:hover
{
     -webkit-transform: scale(1.2);
     -ms-transform: scale(1.2);
     transform: scale(1.1);
}

.lanca{
    margin-top: 70px;
}

.copao{
    margin-top: 70px;
    margin-left: 105px;
}
a{
    text-decoration: none;
    color: black;
}

.navbar a{
    color: white;
}

.fotosI{
    width: 700px;
    height: 700px;
    display: block;
    margin: 30px auto;
}

.info_char{
    text-align: center;
}

.descricao{
    text-align: center;
    margin: 0 50px 100px 50px;
    font-size: 22px;
}

footer {
    background-color: #e0c8a9;
    padding: 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
 }
 
 .container {
    max-width: 960px;
    margin: 0 auto;
 }
 
 .back-to-top {
    text-decoration: none;
    color: #0077be;
 }
 
 .back-to-top.show {
    display: inline-block;
 }
 
